body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
   }
#second-head{
    color: tomato;
}
.link-button{
    background:tomato;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    }
.first-halfwidth{
    width: 40%;
    float: left;
    margin-left: 5% 5%;
    padding-left: 5%;
   }
   .first-halfwidth img{
    width: 70%;
   }
   .second-part{
    background-color:gray;
   }
   .second-part img{
       width: 30%;
   }
   .second-halfwidth{
    width: 60%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
   }
   #third-header{
       color: tomato;
       text-align: center;
   }
   .creative-box{
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    height:80%;
    width: 40%;
    background-color: white;
   }
